wp-admin
wp-includes
wp-content/.idea
wp-content/cache
wp-content/upgrade
wp-content/languages
wp-content/db.php
wp-content/index.php
wp-content/uploads
#.gitignore
.idea
.htaccess
#index.php
license.txt
wp-activate.php
readme.html
wp-comments-post.php
wp-blog-header.php
wp-config-sample.php
wp-config.php
wp-links-opml.php
wp-cron.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php