@font-face {
  font-family: "NeoSansProRegular";
  src: url("../fonts/NeoSansProRegular.eot");
  src: url("../fonts/NeoSansProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansProRegular.woff") format("woff"), url("../fonts/NeoSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "NeoSansProBold"; */
@font-face {
  font-family: "NeoSansProBold";
  src: url("../fonts/NeoSansProBold.eot");
  src: url("../fonts/NeoSansProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeoSansProBold.woff") format("woff"), url("../fonts/NeoSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
