@media (max-width: 1024px)
  .hide
    display: none


@media (max-width: 768px)
  a.tab.my-btn.ghost
    margin-bottom: 5px;
    padding: 15px 10px;

  .tabs
    padding: 30px 0

  .tab.active
    &:after
      bottom -130%

  .review-image:before
    display: none

  .entry
    padding-left: 0

  #header_nav .nav-item
    margin: 0px 10px;

  ul.link_group li,#header_nav
    font-size: 14px;

  .arr_top
    &:after
      width: 34px
      height: 34px
      top: -16px
    &.border
      &:before
        width: 40px
        height: 40px
        top: -20px

  .nets
    position: relative
    top: 5%
    transform translateY(0%)
    .social
      text-align: center
      li
        display: inline-block

  .page_title
    top: 35%

  .portfolio-page-hero_img,
  .review-page-hero_img,
  .contacts-page-hero_img
    background-position 80% center

  .serviсe-hero_img
    height: 400px
    background-position right center

@media (max-width 640px)
  #header_nav
    .nav-item
      margin: 0
      margin-bottom: 13px

  .search_trigger
    display: none

  #nav-icon-close
    display: block

  #menu-wrapp
    visibility: hidden

  .page_title
    top: 44%
    .title
      font-size:20px
    .description
      font-size:16px
    .slogan
      font-size:20px

  section
    padding: 15px 0;

  .section-title
    font-size:22px
    padding: 10px

  .photo-gallery-item
    width auto
    margin: 3px

  .invert
    .right
      float none

  .review-image
    &:after,&:before
      display: none

  .tabs
    border-bottom none

  .tab.active
    &:after
      display: none

  .nets
    .social
      li
        margin: 6px

  .net_link
    font-size: 20px
    width: 50px
    height: 50px
    line-height: 46px

  a.my-btn
    padding: 10px

  .slogan
    font-size: 1.2rem

  #playlist-content
    column-count 1
    .playlist-photo
      display: none

  .playlist-icon
    display: none