.serviсe-hero_img
  background url("../img/service-page/service-page-bg.jpg") no-repeat center
  height 341px
  width: 100%
  background-size: cover;


.service-mostly-img
  background url("../img/service-page/service-mostly-bg.jpg") no-repeat center
  height 301px
  background-size: cover;

.tabs
  padding: 40px 0
  border-bottom 3px solid accent-color
.tab.active
  position: relative
  &:after
    display: block
    content ''
    position: absolute
    width: 50px
    height: 50px
    background #fff
    border 3px solid transparent
    border-top 3px solid accent-color
    border-right  3px solid accent-color
    bottom -100%
    left 50%
    transform translateX(-50%) rotate(-45deg)
.tab-content
  padding 40px

.service-exclusive-bg
  background url("../img/service-page/service-exclusive-bg.jpg") no-repeat center
  height 301px
  background-size: cover;

.exclusive-post
  padding 40px 15px
  p
    line-height: 1.5
    text-indent 15px
    position: relative
    text-align: left
    margin-bottom:20px
    &:before
      display: inline-block
      content ''
      width: 7px
      height: 7px
      border-radius 50%
      background-color: #29c689
      position: absolute
      left: 2px
      top: 8px

.exclusive-content
  text-align: center
  .exclusive-title
    margin-bottom: 10px
  .exclusive-image
    display: inline-block
    position: relative
    padding-top: 35px
  &:after,&:before
    display: inline-block
    content ''
    width: 12px
    height: 12px
    border-radius 50%
    background-color: accent-color
    position: absolute
    left: 50%
    top: 30px
    transform translateX(-50%)
  &:before
    top: 49px
  .exclusive-thumb
    display: inline-block
    width: 300px
    height: 300px
    border-radius 50%
    margin: 0 auto
    object-fit cover
    border 5px solid transparent
    border-top  4px solid accent-color