@import 'nib'
@import "_vars"
@import "_fonts"

html, body
  font 14px NeoSansProRegular, Tahoma, arial, sans-serif
  color main-color
  background-color: #faf9f7

a, a:hover, a:focus, a:active, a:visited
  text-decoration: none
  outline none
  //color inherit

.no-padding
  padding: 0

ul
  margin: 0
  padding: 0
  li
    list-style none


/* start header */
@require '_header.styl'
/*end header */

/* start service */
@require '_services.styl'
/* end service */

/* start portfolio */
@require '_portfolio.styl'
/* end portfolio */

/* start review */
@require '_review.styl'
/* end review */

/* start planing */
@require '_planing.styl'
/* end planing */

/* start service-page */
@require '_service-page.styl'
/* end service-page */

/* start review-page */
@require '_review-page.styl'
/* end review-page */

/* start portfolio-page */
@require '_portfolio-page.styl'
/* end portfolio-page */


/* start contacts-page */
@require '_contacts-page.styl'
/* end contacts-page */

/* start carre-page */
@require '_carre-page.styl'
/* end carre-page */


